{% extends 'base.html' %}

{% block tittle %} About {% endblock tittle %}

{% block body %} 
<body style="background-color: #f7f7f7; font-family: Arial, sans-serif;">

  <h1 style="text-align: center;">About Us</h1>
  
  <p style="text-align: justify; font-family: 'Times New Roman', serif; color: #333;">Welcome to our food website! We are passionate about serving delicious and high-quality meals to our customers. With a focus on fresh ingredients and innovative recipes, we strive to provide an exceptional dining experience.</p>
  <p style="text-align: justify; font-family: 'Verdana', sans-serif; color: #29caa2;">Our team of talented chefs and dedicated staff work tirelessly to create culinary masterpieces that cater to various tastes and preferences. Whether you're a fan of savory dishes or have a sweet tooth, we have something to satisfy your cravings.</p>
  <p style="text-align: justify; font-family: 'Arial', sans-serif; color: #e34141;">At our restaurant, we believe in the power of good food to bring people together. We invite you to join us on a gastronomic journey and indulge in the flavors that will tantalize your taste buds.</p>
  <p style="text-align: justify; font-family: 'Courier New', monospace; color: #5608b5;">Thank you for choosing us. We look forward to serving you and making your dining experience memorable.</p>

  <div class="carousel-item active">
    <img src="static\img\img9.jpg" class="d-block w-100" alt="..." height="540px">
  </div>
</body>


 {% endblock body %}

