{% extends 'base.html' %}

{% block tittle %} Gallery{% endblock tittle %}

{% block body %} 

<body style="background-color: #f2f2f2; font-family: Arial, sans-serif;">

  <h1 style="text-align: center;">"Discover the beauty captured in moments, explore our captivating gallery."</h1>

  <div style="display: flex; flex-wrap: wrap; justify-content: center;">
    <div style="width: 300px; margin: 10px;">
      <img src="static\img\img3.jpg" alt="Image 1" style="width: 100%; height: auto;">
      <p style="text-align: center;">Image 1</p>
    </div>
    <div style="width: 300px; margin: 10px;">
      <img src="static\img\img5.jpg" alt="Image 2" style="width: 100%; height: auto;">
      <p style="text-align: center;">Image 2</p>
    </div>
    <div style="width: 300px; margin: 10px;">
      <img src="static\img\img4.jpg" alt="Image 3" style="width: 100%; height: auto;">
      <p style="text-align: center;">Image 3</p>
    </div>
    <!-- Add more gallery items as needed -->
  </div>
  <div style="display: flex; flex-wrap: wrap; justify-content: center;">
    <div style="width: 300px; margin: 10px;">
      <img src="static\img\img1.jpg" alt="Image 1" style="width: 100%; height: auto;">
      <p style="text-align: center;">Image 4</p>
    </div>
    <div style="width: 300px; margin: 10px;">
      <img src="static\img\img6.jpg" alt="Image 2" style="width: 100%; height: auto;">
      <p style="text-align: center;">Image 5</p>
    </div>
    <div style="width: 300px; margin: 10px;">
      <img src="static\img\img2.jpg" alt="Image 3" style="width: 100%; height: auto;">
      <p style="text-align: center;">Image 6</p>
    </div>
    <!-- Add more gallery items as needed -->
  </div>





 {% endblock body %}

